<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# page description %>
    <meta name="description" content="Author: A.N. Author,
    Illustrator: P. Picture, Category: Books, Price: $17.99,
    Length: 784 pages">
    <title>DmitriyR54</title>
    <%# placeholder's styles %>
    <%- include('../../components/loadingPlaceholder/loadingPlaceholderStyles.ejs') %>
</head>

<body>
    <%# show the placeholder while the page is loading %>
    <%- include('../../components/loadingPlaceholder/loadingPlaceholder.ejs') %>
    <%- include('../../sections/Header/Header.ejs') %>
    <main class="main">
        <%- include('./homeSections/Intro/Intro.ejs') %>
        <%- include('./homeSections/Bio/Bio.ejs') %>
        <%- include('./homeSections/Info/Info.ejs') %>
    </main>
    <%- include('../../sections/Footer/Footer.ejs') %>
</body>

</html>